___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101) # we use seed() just to get same random numbers all the time

In [8]:
# Defining a DataFrame with list of indexes(rows), and columns.
df1 = pd.DataFrame(randn(5,4), index = ['A', 'B', 'C', 'D', 'E'], columns = ['W', 'X', 'Y', 'Z'])

In [9]:
df1 # Each of the columns here is nothing but a Pandas Series

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [10]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [11]:
df # DataFrame is a bunch of columns that all of them share the same row index

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

* DataFrame columns are nothing but Pandas Series objects.

In [12]:
df['W'] # passing the column name; Now the output looks more like a Pandas series with data values and indexes.

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [13]:
type(df) # type of DataFrame

pandas.core.frame.DataFrame

In [22]:
type(df['W'])  # type of column data in Pandas DataFrame; DataFrame is a bunch of Series that same same index

pandas.core.series.Series

In [23]:
type(df[['W', 'Z']]) # the column names are case-sensitive

pandas.core.frame.DataFrame

In [24]:
# Pass a LIST of column names to select multiple columns
# if you request data from multiple columns, what you get is another DataFrame.
# if you request data from a single column, what you get is a Series
df[['W','Z']] # 2-D collection of data; subset of DataFrame

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [25]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

DataFrame Columns are just Series

In [26]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [28]:
df['new'] = df['W'] + df['Y']

In [29]:
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.009512
B  0.681209  1.035125 -0.031160  1.939932  0.650049
C -1.005187 -0.741790  0.187125 -0.732845 -0.818062
D -1.382920  1.482495  0.961458 -2.141212 -0.421462
E  0.992573  1.192241 -1.046780  1.292765 -0.054206

** Removing Columns**

* drop() method doesn't actually affect the original copy of DataFrame.

In [30]:
df.drop('new',axis=1) # axis = 0 refers to index/row. axis = 1 refers to column

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [31]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.009512
B  0.681209  1.035125 -0.031160  1.939932  0.650049
C -1.005187 -0.741790  0.187125 -0.732845 -0.818062
D -1.382920  1.482495  0.961458 -2.141212 -0.421462
E  0.992573  1.192241 -1.046780  1.292765 -0.054206

In [32]:
df.drop('new',axis=1,inplace=True)

In [33]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

Can also drop rows this way:

In [35]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [37]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [39]:
df.shape

(5, 4)

** Selecting Rows**

In [44]:
df.loc['A'] # label based row selection

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [46]:
type(df.loc['A']) # each row in DataFrame is also a type of Pandas Series object

pandas.core.series.Series

Or select based off of position instead of label

In [40]:
df.iloc[2] # you can pass numerical index; this is same as : df.loc['C']

W   -1.005187
X   -0.741790
Y    0.187125
Z   -0.732845
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [42]:
df.loc['B']['Y']

-0.031160481493099617

In [43]:
df.loc['B','Y'] # Using comma notation

-0.031160481493099617

In [201]:
df.loc[['A','B'],['W','Y']] # select A and B rows with W and Y columns

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [47]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [48]:
df > 0

       W      X      Y      Z
A   True   True  False   True
B   True   True  False   True
C  False  False   True  False
D  False   True   True  False
E   True   True  False   True

In [59]:
df[df > 0]

          W         X         Y         Z
A  0.386030  2.084019       NaN  0.230336
B  0.681209  1.035125       NaN  1.939932
C       NaN       NaN  0.187125       NaN
D       NaN  1.482495  0.961458       NaN
E  0.992573  1.192241       NaN  1.292765

In [60]:
df['W'] > 0

A     True
B     True
C    False
D    False
E     True
Name: W, dtype: bool

In [56]:
df[df['W']>0] # this will return the rows where the condition is true for column values of 'W'

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
E  0.992573  1.192241 -1.046780  1.292765

In [52]:
df[df['W']>0]['Y']

A   -0.376519
B   -0.031160
E   -1.046780
Name: Y, dtype: float64

In [62]:
df[df['W']>0][['Y','X']]

          Y         X
A -0.376519  2.084019
B -0.031160  1.035125
E -1.046780  1.192241

For two conditions you can use | and & with parenthesis:

In [54]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [253]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [254]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [260]:
df.loc['G1']

          A         B
1  0.153661  0.167638
2 -0.765930  0.962299
3  0.902826 -0.537909

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [265]:
df.index.names

FrozenList([None, None])

In [266]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [270]:
df.xs('G1')

            A         B
Num
1    0.153661  0.167638
2   -0.765930  0.962299
3    0.902826 -0.537909

In [271]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [273]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!