# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
* tuple unpacking
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [1]:
1 / 2

0.5

In [3]:
1//2

0

In [4]:
5/2

2.5

In [5]:
5//2

2

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

https://www.tutorialspoint.com/python/python_strings.htm

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [13]:
name = "Raghunath"

In [14]:
name[0]

'R'

In [15]:
name[0:]

'Raghunath'

In [17]:
name[5:]

'nath'

In [20]:
name[:5] # the index is excluded

'Raghu'

* Length of String

In [17]:
len(name)

9

### Printing

In [6]:
x = 'hello'

In [7]:
x

'hello'

In [11]:
x[0]

'h'

In [12]:
print(x[0])

h

* when you use print() statement, it doesn't show the quotes.

In [9]:
print(x)

hello

In [10]:
num = 12
name = 'Sam'

* Using placeholders to format Strings

In [23]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [24]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: ' + str(num) + ', and my name is: ' + name)

My number is: 12, and my name is: Sam

### Lists

* Sequence of elements
* Enclosed in square brackets

In [22]:
[1,2,3]  # Square brackets, separated by commans

[1, 2, 3]

In [21]:
['hi',1,[1,2]] # Lists can have heterogeneous elements

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')  # Adding a new element to a List

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[1:3]  # Slicing notation with Lists

['b', 'c']

In [32]:
my_list[0]

'a'

In [33]:
my_list[1]

'b'

### Slicing a List (to the end)
* the below notation, prints all elements starting at the index till the end (inclusive of the index)

In [34]:
my_list[1:]

['b', 'c', 'd']

### Slicing a List (from beginning)
* the below notation, prints all the elements starting at index 0 to till the index specified
[ not including the index, exclusive ]

In [35]:
my_list[:1]

['a']

In [36]:
my_list[0] = 'NEW'  # re-assignment changes the value in the list ; replacing value in list

In [37]:
my_list

['NEW', 'b', 'c', 'd']

In [38]:
nest = [1,2,3,[4,5,['target']]]  # nested lists

In [39]:
nest[3]

[4, 5, ['target']]

In [40]:
nest[3][2]

['target']

In [41]:
nest[3][2][0]

'target'

### Dictionaries

Use curly braces : key:value pairs

Values can be anything.

In [42]:
d = {'key1':'item1','key2':123}

In [43]:
d

{'key1': 'item1', 'key2': 123}

In [44]:
d['key1']

'item1'

In [45]:
d['key2']

123

In [46]:
d1 = {'k1' : [1, 2, 3]}

In [47]:
d1

{'k1': [1, 2, 3]}

In [48]:
d1['k1']

[1, 2, 3]

In [49]:
d1['k1'][0]

1

#### Inner Dictionaries

In [50]:
d = {'key1' : {'innerKey' : [1, 2, 3]}}

In [51]:
d['key1']['innerKey'][0]

1

### Booleans

In [52]:
True

True

In [53]:
False

False

### Tuples 

* We use parenthesis here. For Lists, we use square brackets.

A Tuple is immutable. You can't change the items in a tuple. List is mutable, you can reassign values at indexes.

In [54]:
t = (1,2,3)

In [55]:
t[0]

1

In [56]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

A Set only contains unique elements. No duplicate elements in Set.

In [23]:
{1,2,3}

{1, 2, 3}

In [24]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [39]:
set([2, 1, 1, 1, 2, 2, 3, 3, 6, 6, 5, 5]) # sending a list to set() function, returns set with non-duplicate elements

{1, 2, 3, 5, 6}

In [27]:
s = {1, 2, 3}

In [28]:
s

{1, 2, 3}

In [30]:
s[0]

TypeError: 'set' object does not support indexing

In [32]:
s.add(5) # Adding elements to set; Note: Adding same element again won't give error. But it will not be added again.

In [34]:
s

{1, 2, 3, 5}

In [35]:
val = s.pop() # Getting elements from Set, use pop() method

In [37]:
val

1

In [38]:
s

{2, 3, 5}

#### Adding Elements to a Set

* Use add() method.
* If you add duplicate elements to the Set, it won't give any error. But will only contain unique elements. It won't add duplicate elements.

In [60]:
s = {1, 2, 3}

In [61]:
s.add(5)

In [62]:
s

{1, 2, 3, 5}

In [63]:
s.add(5)

In [64]:
s

{1, 2, 3, 5}

## Comparison Operators

In [65]:
1 > 2

False

In [66]:
1 < 2

True

In [67]:
1 >= 1

True

In [68]:
1 <= 4

True

In [69]:
1 == 1

True

In [70]:
1 != 3

True

In [40]:
'hi' == 'bye'

False

In [41]:
'hi' == "hi"

True

## Logic Operators

In [72]:
(1 > 2) and (2 < 3)

False

In [73]:
(1 > 2) or (2 < 3)

True

In [74]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

* Use : to indicate the code block ( in Java, we use { } )
* Indentation is what determines the if-elif-else code block. Execute the block of code that is indented.
* Use 'elif' for else-if (in Java, we use else if )

In [75]:
if((1 < 2) and (2 > 1)) :
    print('Yep!')
    
print('Bye!!')

Yep!
Bye!!

In [76]:
if 1 < 2 :
    print('yep!')

yep!

In [77]:
if 1 < 2:
    print('first')
    print('second')
else:
    print('last')

first
second

In [78]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [79]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')
    print('final else block')
    
print('after if block')

middle
after if block

## for Loops

In [80]:
seq = [1,2,3,4,5]

In [81]:
for item in seq:
    print(item)

print('after for loop');

1
2
3
4
5
after for loop

In [82]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [83]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [84]:
i = 1;
while(i < 5) :
    print('i is: {}'.format(i));
    i=i+1;

i is: 1
i is: 2
i is: 3
i is: 4

## range()
* range is a generator of numerical values.
* you put the starting number, and the number you want to end (end value is exclusive). Optionally, you can include the step number.

In [85]:
range(5) # generates range object

range(0, 5)

In [86]:
for i in range(5):
    print(i)

0
1
2
3
4

In [87]:
list(range(5))

[0, 1, 2, 3, 4]

In [88]:
list(range(100, 105)) # range() function can generate sequential values from any starting number

[100, 101, 102, 103, 104]

In [89]:
list(range(100, 120, 2)) # here, we are passing step size. So, it generates numbers using that step size

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118]

## List comprehension **

* It saves a lot of writing when you want to use for loop for creating a list

In [42]:
x = [1,2,3,4]

In [43]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [44]:
out = [item**2 for item in x] # this is list comprehension.
print(out)

[1, 4, 9, 16]

## functions

* Use Shift+Tab for Help related to function. This wil show information that is prensent in DocStrings.

In [45]:
def my_func(param1='defaultParamValue'):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION PRINTS THE GIVEN PARAMETER.
    """
    print(param1)

In [46]:
my_func

In [47]:
my_func()

defaultParamValue

In [96]:
my_func('hello')

hello

In [48]:
my_func(param1='new paramValue')

new paramValue

In [98]:
def square(x):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A GIVEN NUMBER AND RETURNS.
    """
    return x**2

In [99]:
out = square(3)

In [100]:
print(out)

9

In [101]:
def greeting(name):
    print("Hello " + name);

In [102]:
greeting("Raghunath")

Hello Raghunath

## lambda expressions

* It is kind of anonymous function. No function name, no return keyword. We use lambda keyword in place of def.
* It's kind of writing an entire function in to a single line.

In [51]:
def times2(var):
    return var*2

In [52]:
times2(2)

4

In [105]:
lambda num: num*2;

In [55]:
t = lambda var: var*2

In [56]:
t(6)

12

## map and filter

* map is used to map a function or lambda expression to every element in a sequence.
* filter is used to filter out elements from a sequence.

In [49]:
seq = [1,2,3,4,5]

In [109]:
map(times2,seq) # pass the function, and the sequence on to which you want to map the function.

In [53]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [57]:
list(map(t, seq))

[2, 4, 6, 8, 10]

In [58]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15]

In [112]:
filter(lambda item: item%2 == 0,seq)

In [113]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

* Use TAB to get list of methods.
* List pop() method pops off last element. It's kind of STACK. (Last-in-First Out)
* To pop element at different index, specify the index in pop() method, like this : pop(0)

In [59]:
st = 'hello my name is Sam'

In [62]:
st.lower() # this function will not change the original String

'hello my name is sam'

In [61]:
st

'hello my name is Sam'

In [116]:
st.upper()

'HELLO MY NAME IS SAM'

In [117]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [64]:
tweet = 'Go Sports! #Sports'

In [65]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [119]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [120]:
tweet.split('#')[1]

'Sports'

In [68]:
d = {'k1':'Raghu', 'k2':123}

In [69]:
d

{'k1': 'Raghu', 'k2': 123}

In [70]:
d.keys() # lists the keys of a dictiionary

dict_keys(['k1', 'k2'])

In [72]:
d.items()

dict_items([('k1', 'Raghu'), ('k2', 123)])

In [74]:
d.values() # to list the values in a dictionary, without keys

dict_values(['Raghu', 123])

In [75]:
print(d.values())

dict_values(['Raghu', 123])

In [76]:
lst = [1,2,3]

In [79]:
len(lst) # know the lenght of list or size of list or count of elements in list

3

In [125]:
lst.pop() # default, it pops the last item from the list

3

In [126]:
first = lst.pop(0) # to pop an element at index 0

In [127]:
print(first)

1

In [128]:
lst

[2]

In [129]:
'x' in [1,2,3] # check if something is in the list , it is something like contains function.

False

In [131]:
'x' in ['x','y','z']

True

## Tuple Unpacking

In [141]:
x = [(1,2), (3,4), (5,6)] # list of tuples

In [142]:
x

[(1, 2), (3, 4), (5, 6)]

In [143]:
x[0]  # each item in the list is a tuple

(1, 2)

In [144]:
x[0][0]

1

In [145]:
for item in x :
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [147]:
# tuple unpacking
for (a, b) in x :
    print(a)
    print(b)

1
2
3
4
5
6

# Great Job!